footer {
    display: flex;
    z-index: 2;
    background-color: black;
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
    border: none;
    height: 4rem;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 1rem;
}
