footer {
    display: flex;
    z-index: 2;
    background-color: #080808;
    padding: 0 0.5rem 0 0.5rem;
    border: none;
    height: 4rem;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}
